.cl{display:inline-block; width:12px; height:12px; background:#34538b; font-size:0;}
.cl.on{background:#a0b3d6;}.cl.on:hover{background:#486aaa;}
.h{height:2px; width:12px; background:white; position:absolute; margin-top:5px;}
.v{width:2px; height:12px; background:white; position:absolute; margin-left:5px;}
.layout{width:700px; margin:0; padding:20px 0 0; list-style-type:none;}
.layout li{margin:5px 5px 5px 0; padding:5px; border-bottom:1px dashed #dddddd; zoom:1;}
.layout li img{padding:3px; background-color:white; border:1px solid #beceeb; float:left;}
.layout li img:hover{background-color:#f0f3f9;}
.layout li p{height:160px; margin:0 0 0 215px; color:#666666;}
.newview li{width:210px; float:left;}
.newview li img{float:none; display:block;}
.newview li p{height:auto; margin:6px 0; text-align:center;}
.newview li span{display:none;}