.hor-menu .hor-ul > li{
	transition: all 0.3s ease 0s;
}

.hor-menu .hor-ul > li > a {
    color: #fff;
    cursor: pointer;
}

.hor-menu .hor-ul > li:hover,.hor-menu .hor-ul > li.active
{
	background: #257bcf none repeat scroll 0 0;
}

.hor-menu .hor-ul > li:hover > div.sub-menu{
	display: table !important;
	opacity: 0;
}